.mainPage{
    width: 100%;
    height: 99.6%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: league gothic, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url('../IMAGS/mainBackground.png');
}

#mainBackground{
    width: 100%;
    height: 100%;
    filter: blur(3px);
}

.navBar{
    width: 100%;
    height: 7%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.65);
    outline: 2px solid rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
}

#arrowBack{
    height: 100%;
    margin: 0.5%;
    -webkit-filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.75));
}

#arrowBackA{
    height: 90%;
    margin: 0.5%;
}

#line{
    height: 80%;
    width: 0.1%;
    margin-left: 1%;
    background-color: white;
    -webkit-filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.75));
}

#search{
    margin-left: 1%;
    height: 40%;
    width: 10%;
    border-radius: 20px;
    -webkit-filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.75));
}

#lupeA{
    height: 100%;
    margin-left: 1%;
    display: flex;
    align-items: center;
}

#lupe{
    height: 60%;
    -webkit-filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.75));
}

.sideMenu{
    width: 20%;
    height: 93.2%;
    background-color:rgba(0, 0, 0, 0.65);
    position: relative;
    top: -93.2%;
}

.user{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user:hover{
    background-color:rgba(0, 0, 0, 0.55);
}

#userImag{
    width: 50%;
    border-radius: 50%;
    margin: 5%;
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75));
}

#userA{
    text-decoration: none;
}

.user h1{
    text-decoration: none;
    color: white;
    font-weight: 100;
    position: relative;
    top: -10%;
    text-shadow: 5px 5px 5px black;
}


.option{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.option:hover{
    background-color:rgba(0, 0, 0, 0.55);
}

#optionImag{
    height: 50%;
    margin-left: 15%;
    margin-right: 5%;
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75));
}

#optionA{
    text-decoration: none;
}

.option h1{
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 40px;
    text-shadow: 5px 5px 5px black;
}

.mainContent{
    width: 80%;
    height: 93.2%;
    /*background-color: rgba(0, 255, 255, 0.329);*/
    position: relative;
    top: -186.6%;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.details{
    margin: 2%;
    width: 90%;
    height: 80%;
    background-color:rgba(0, 0, 0, 0.65);
    border-radius: 60px;

}

#detailsImag{
    width: 35%;
    position: relative;
    top: 8%;
    left: 2%;
    box-shadow: 5px 5px 5px black;
}

#name{
    color: white;
    text-shadow: 5px 5px 5px black;
    font-weight: 100;
    font-size: 120px;
    position: relative;
    bottom: 90%;
    left: 40%;
}

#gender{
    color: #d3d3d3;
    text-shadow: 5px 5px 5px black;
    font-weight: 100;
    font-size: 60px;
    position: relative;
    bottom: 105%;
    left: 40.2%;
}

#status{
    color: #d3d3d3;
    text-shadow: 5px 5px 5px black;
    font-weight: 100;
    font-size: 40px;
    position: relative;
    bottom: 105%;
    left: 40.2%;
}

#statusResult{
    color: white;
    text-shadow: 5px 5px 5px black;
    font-weight: 100;
    font-size: 60px;
    position: relative;
    bottom: 112%;
    left: 42%;
}

#species{
    color: #d3d3d3;
    text-shadow: 5px 5px 5px black;
    font-weight: 100;
    font-size: 40px;
    position: relative;
    bottom: 132.8%;
    left: 65%;
}

#speciesResult{
    color: white;
    text-shadow: 5px 5px 5px black;
    font-weight: 100;
    font-size: 60px;
    position: relative;
    bottom: 140%;
    left: 67%;
}

#location{
    color: #d3d3d3;
    text-shadow: 5px 5px 5px black;
    font-weight: 100;
    font-size: 40px;
    position: relative;
    bottom: 144%;
    left: 40.2%;
}

#locationResult{
    color: white;
    text-shadow: 5px 5px 5px black;
    font-weight: 100;
    font-size: 60px;
    position: relative;
    bottom: 151%;
    left: 42%;
}

#appearance{
    color: #d3d3d3;
    text-shadow: 5px 5px 5px black;
    font-weight: 100;
    font-size: 40px;
    position: relative;
    bottom: 155%;
    left: 40.2%;
}

#appearanceResult{
    color: white;
    text-shadow: 5px 5px 5px black;
    font-weight: 100;
    font-size: 60px;
    position: relative;
    bottom: 162%;
    left: 42%;
}

#star{
    position: relative;
    bottom: 250%;
    left: 92%;
    width: 5%;
}

::-webkit-scrollbar {
    display: none;
}