*{
    margin: 0px;
    padding: 0px;
    font-weight: 100;
}

body{
    background-color: black;
    font-family:league gothic, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mainPage{
    position: relative;
    margin-top: -55px;
    background-image: url(../IMAGS/indexBackground.png);
    background-position: center;
    width: auto;
    height: 980px;
    filter: blur(5px);
}

.mainCont{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 980px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.title{
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: 7px 7px 4px black ;
}

.slideShow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
}

::-webkit-scrollbar {
    display: none;
}

.show{
    padding: 6%;
    -webkit-filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.75));
}

.slideShow img{
    width: 708px;
}

#instructions{
    position: relative;
    top: -7%;
    font-size: 35px;
}

.navBar{
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
    height: 55px;
    padding-right: 15px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.cont{
    background-color: rgb(24, 24, 24);
    width: auto;
    height: 925px;
    color: white;
    font-size: 28px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.line{
    width: 90%;
    height: 5px;
    background-color: white;
    align-self: center;
    box-shadow: 3px 3px 2px black;
}

.info{
    padding: 50px 150px;
    text-shadow: 5px 5px 5px black;
}

.contac{
    margin-left: 3%;
}
.infoArray{
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info img{
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75));
    height: 50px;
    margin-left:2%;
}

#twitter{
    margin-left: 5%;
}

.button1{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.button1:hover{
    background-color: rgb(124, 124, 124);
}