.mainPage{
    width: 100%;
    height: 99.6%;
    position: absolute;
    top: 0;
    left: 0;
}

#loginBackground{
    width: 100%;
    height: 100%;
    filter: blur(3px);
}

.navBar{
    width: 100%;
    height: 7%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

#arrowBack{
    height: 100%;
    margin: 0.5%;
    -webkit-filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.75));
}

#arrowBackA{
    height: 90%;
    margin: 0.5%;
}

.login{
    width: 30%;
    height: 45%;
    position: absolute;
    top: 25%;
    left: 35%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: league gothic, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 46px;
    color: whitesmoke;
    text-shadow: 5px 5px 2px rgba(0,0,0,0.5);
}

.input{
    width: 60%;
    height: 10%;
    text-align: center;
    font-family: league gothic, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    border-radius: 50px;
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75));
}

#password{
    margin-top: 5%;
}

.options{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.optionsRight{
    margin-left: 5%;
}

.optionsLeft{
    display: flex;
    margin-right: 5%;
}

#check{
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75));
}

.optionsText{
    font-family: league gothic, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: whitesmoke;
}

#optionsTextA{
    text-decoration: none;
}

.loginButtonA{
    width: 30%;
    text-decoration: none;
    margin: 5%;
}


.loginButton{
    height: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75));
}

.loginButton:hover{
    background-color: rgb(124, 124, 124);
}

#loginText{
    font-family: league gothic, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: whitesmoke;
}