.mainPage{
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 0;
}

#registerBackground{
    width: 100%;
    height: 100%;
}

.navBar{
    width: 100%;
    height: 7%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

#arrowBack{
    height: 100%;
    margin: 0.5%;
    -webkit-filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.75));
}

#arrowBackA{
    height: 90%;
    margin: 0.5%;
}

.register{
    width: 30%;
    height: 60%;
    position: absolute;
    top: 25%;
    left: 35%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input{
    width: 60%;
    height: 10%;
    text-align: center;
    font-family: league gothic;
    font-size: 30px;
    border-radius: 50px;
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75));
    margin-top: 8%;
}

.textFormat{
    font-family: league gothic;
    font-size: 30px;
    color: whitesmoke;
    text-shadow: 5px 5px 2px rgba(0,0,0,0.5);
}

.signupButton{
    width: 30%;
    height: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75));
    margin-top: 10%;
}

.signupButton:hover{
    background-color: rgb(124, 124, 124);
    color: black;
}

#signupText{
    font-family: league gothic;
    font-size: 30px;
    color: whitesmoke;
}